---
import BaseLayout from "../BaseLayout.astro";

// import TableOfContents from "../../components/TableOfContents.astro";

import type { Crumb } from "../../utils/types";
import { Image } from "astro:assets";

import "@fontsource-variable/jetbrains-mono";

// import "../../styles/styles.css";

import { Icon } from "astro-icon/components";

import type { CollectionEntry } from "astro:content";
import type { MarkdownHeading } from "astro";

interface Props {
  frontmatter: CollectionEntry<"blog">;
  id: string;
  headings: MarkdownHeading[];
}

const { frontmatter, id } = Astro.props as Props;

const { title, tags, description, banner, pubDate } = frontmatter.data;

const dotw = pubDate.toLocaleDateString("default", { weekday: "short" }); // Day of The Week
const date = `${pubDate.getDate() < 10 ? "0" : ""}${pubDate.getDate().toString().slice(-2)}`;
const month = pubDate.toLocaleString("default", { month: "short" });
const year = pubDate.getFullYear();

const pageTitle = `blog / ${title}`;
const current = "blog";
const breadcrumbs: Array<Crumb> = [
  { title: "BLOG", href: "/blog/" },
  { title: title, href: `/blog/${id}/` },
];
---

<!-- https://docs.astro.build/en/guides/markdown-content/ -->
<BaseLayout title={pageTitle} {current} {breadcrumbs}>
  <!-- TODO@ankt -->
  <div class="flex flex-row justify-center space-x-8">
    <!-- TODO@ankt: for now hidden -->
    <!-- <div class="hidden lg:block"><TableOfContents {headings} /></div> -->
    <div class="flex w-full max-w-4xl flex-col">
      {
        banner && (
          <Image class="mb-10 w-full" src={banner.url} alt={banner.alt} />
        )
      }

      <div class="mb-24 flex flex-col items-start space-y-6">
        <h1 class="font-sans text-4xl font-medium tracking-[-0.02rem]">
          {title}
        </h1>
        <div class="flex flex-col items-start space-y-6">
          <p
            class="font-sans text-base font-normal tracking-[-0.01rem] text-LM-Nav-Unselected dark:text-DM-Nav-Unselected"
          >
            {`${dotw}, ${date} ${month} ${year}`}
          </p>
          <p
            class="font-serif text-base font-normal tracking-[-0.01rem] text-LM-Text dark:text-DM-Text"
          >
            {description}
          </p>

          <ul
            class="tracking[-0.0175rem] flex flex-row flex-wrap items-center space-x-0.5 pb-1 font-sans text-base text-LM-Nav-Unselected dark:text-DM-Nav-Unselected"
          >
            {
              tags.map((tag, idx) => (
                <>
                  <li>
                    <a
                      class="underline underline-offset-4 hover:text-orange"
                      href={`/blog/tags/${tag}/`}
                    >
                      {tag}
                    </a>
                  </li>

                  {idx < tags.length - 1 && (
                    <Icon
                      name="dot"
                      size={16}
                      class="text-LM-Nav-Selected dark:text-DM-Nav-Selected"
                    />
                  )}
                </>
              ))
            }
          </ul>
        </div>
      </div>

      <div
        class:list={[
          "prose dark:prose-invert",
          "prose-headings:font-sans prose-headings:font-normal prose-headings:uppercase prose-headings:tracking-[-0.03rem]",
          "prose-a:text-orange prose-a:no-underline prose-a:underline-offset-4 hover:prose-a:underline",
          "prose-p:font-serif",
          "prose-table:font-serif",
          "prose-ol:font-serif prose-ul:font-serif",
          "prose-blockquote:not-italic",
          "max-w-none",
        ]}
      >
        <slot />
      </div>
    </div>
    <!-- TODO@ankt: for now hidden -->
    <!-- <div class="hidden lg:block">REFERENCES: TBD</div> -->
  </div>
</BaseLayout>

<style>
  pre code {
    font-family: "JetBrains Mono Variable", "ui-monospace", "SFMono-Regular",
      "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New",
      "monospace";
  }
</style>
