---
import BaseLayout from "../BaseLayout.astro";

import type { Crumb } from "../../utils/types";
import { Image } from "astro:assets";

import "@fontsource-variable/jetbrains-mono";

import "../../styles/styles.css";

import { Icon } from "astro-icon/components";

import type { CollectionEntry } from "astro:content";

interface Props {
    frontmatter: CollectionEntry<"blog">;
    slug: string;
}

const { frontmatter, slug } = Astro.props as Props;

const { title, tags, description, author, banner, pubDate } = frontmatter.data;

const dotw = pubDate.toLocaleDateString("default", { weekday: "short" }); // Day of The Week
const date = `${pubDate.getDate() < 10 ? "0" : ""}${pubDate.getDate().toString().slice(-2)}`;
const month = pubDate.toLocaleString("default", { month: "short" });
const year = pubDate.getFullYear();

const pageTitle = `blog / ${title}`;
const current = "blog";
const breadcrumbs: Array<Crumb> = [
    { title: "BLOG", href: "/blog/" },
    { title: title, href: `/blog/${slug}/` },
];
---

<!-- https://docs.astro.build/en/guides/markdown-content/ -->
<BaseLayout title={pageTitle} {current} {breadcrumbs}>
    <!-- TODO@ankt -->
    <div class="flex flex-row justify-center">
        <!-- TODO@ankt: for now hidden -->
        <!-- <div class="hidden w-2/12">TOC</div> -->
        <div class="flex flex-col w-full max-w-4xl">
            {
                banner && (
                    <Image
                        class="w-full mb-10"
                        src={banner.url}
                        alt={banner.alt}
                    />
                )
            }

            <div class="flex flex-col items-start space-y-6 mb-24">
                <h1
                    class="font-sans text-4xl font-medium tracking-[-0.02rem]"
                >
                    {title}
                </h1>
                <div class="flex flex-col space-y-6 items-start">
                    <p
                        class="font-sans text-base font-normal tracking-[-0.01rem] text-LM-Nav-Unselected dark:text-DM-Nav-Unselected"
                    >
                        {`${dotw}, ${date} ${month} ${year}`}
                    </p>
                    <p
                        class="font-serif text-base font-normal tracking-[-0.01rem] text-LM-Nav-Unselected dark:text-DM-Nav-Unselected"
                        transition:name=`blog-description${slug}`
                    >
                        {description}
                    </p>

                    <ul
                        class="flex flex-row items-center flex-wrap space-x-0.5 font-sans text-base pb-1 tracking[-0.0175rem] text-LM-Nav-Unselected dark:text-DM-Nav-Unselected"
                    >
                        {
                            tags.map((tag, idx) => (
                                <>
                                    <li>
                                        <a
                                            class="hover:text-LM-Nav-Selected dark:hover:text-DM-Nav-Selected"
                                            href={`/blog/tags/${tag}/`}
                                        >
                                            {tag}
                                        </a>
                                    </li>

                                    {idx < tags.length - 1 && (
                                        <Icon
                                            name="dot"
                                            size={16}
                                            class="text-LM-Nav-Selected dark:text-DM-Nav-Selected"
                                        />
                                    )}
                                </>
                            ))
                        }
                    </ul>
                </div>
            </div>

            <div
                class="prose prose-headings:uppercase prose-a:text-orange prose-a:no-underline prose-a:underline-offset-4 hover:prose-a:underline prose-headings:font-sans prose-p:font-serif prose-code:font-mono max-w-none prose-headings:font-normal prose-headings:tracking-[-0.03rem] text-LM-Text dark:text-DM-Text prose-headings:text-LM-Text dark:prose-headings:text-DM-Text"
            >
                <slot />
            </div>
        </div>
        <!-- TODO@ankt: for now hidden -->
        <!-- <div class="hidden" >REFERENCES: TBD</div> -->
    </div>
</BaseLayout>

<style>
    pre code {
        font-family: "JetBrains Mono Variable", "ui-monospace", "SFMono-Regular",
            "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New",
            "monospace";
    }
</style>
