---
import BaseLayout from "../layouts/BaseLayout.astro";
import type { Crumb, currentPage } from "../utils/types";
import { getCollection } from "astro:content";

const workEntries = await getCollection("work");

const title = "ankt / work";
const current: currentPage = "work";
const breadcrumbs: Crumb[] = [{ title: "WORK", href: "/work/" }];
---

<BaseLayout {title} {breadcrumbs} {current}>
    <div class="flex flex-col space-y-4 mb-10">
        <h1
            class="text-LM-Text dark:text-DM-Text font-sans text-2xl uppercase tracking-[-0.015rem] font-medium"
        >
            PROJECTS
        </h1>

        <section
            class="w-full sm:w-7/12 font-serif text-base text-LM-Text dark:text-DM-Text"
        >
            <p class="w-full">Here is a list of projects I have done.</p>
            <p>
                Want to make some shit together? send me an <a
                    class="text-orange underline-offset-4 hover:underline"
                    href="mailto:aniketnegi@duck.com">e-mail</a
                > and we'll talk about it!
            </p>
        </section>
    </div>
    <hr
        class="border-LM-Secondary dark:border-DM-Secondary transition border-[1px]"
    />
    <!-- <div class="flex flex-col space-y-16 items-start mt-10"> -->
    <table
        class="w-full text-center rtl:text-right text-LM-Text dark:text-DM-Text mt-3"
    >
        <thead
            class="text-xs text-LM-Text dark:text-DM-Text uppercase border-b border-LM-Secondary dark:border-DM-Secondary ease-in-out"
        >
            <!-- class += "bg-[#D3AF8D] dark:bg-[#5c5c5c]" -->
            <tr>
                <th scope="col" class="px-6 py-3">projects</th>
                <th scope="col" class="px-6 py-3">description</th>
                <!-- <th scope="col" class="px-6 py-3">tags</th> -->
                <!-- <th scope="col" class="px-6 py-3">links</th> -->
            </tr>
        </thead>
        <tbody
            class="font-sans text-sm lg:text-base text-LM-Text dark:text-DM-Text divide-y"
        >
            {
                workEntries.map((project) => (
                    <tr class=" hover:bg-[#eeeeee] dark:hover:bg-[#1b1b1b] transition ease-in-out border-b border-LM-Secondary dark:border-DM-Secondary ">
                        {/* <!-- TODO@ankt: content collection with yapping for projects --> */}
                        <td class="py-3">
                            <a href={`/work/${project.slug}/`}
                            class="lowercase hover:text-orange underline underline-offset-4 decoration-LM-Text-Secondary dark:decoration-DM-Text-Secondary hover:decoration-orange"
                            >
                                {project.data.title}
                            </a>
                        </td>
                        <td class="py-3">{project.data.description}</td>
                        {/* <td>
                            {
                                <ul>
                                    {project.projectTags.map((tag) => (
                                        <li>
                                            <a href="#">#{tag}</a>
                                        </li>
                                    ))}
                                </ul>
                            }
                        </td> */}
                        {/* <td>
                            {
                                <ul class="flex flex-col flex-wrap justify-center w-full">
                                    {project.projectLinks.map((link) => (
                                        <li class="w-full hover:text-orange hover:underline hover:underline-offset-4">
                                            <a
                                                href={link.href}
                                                target="_blank"
                                                rel="nofollow"
                                            >
                                                {link.name}
                                                 Bad for accesibility?
                                                 <Icon name={link.iconName} size={18}/>
                                            </a>
                                        </li>
                                    ))}
                                </ul>
                            }
                        </td> */}
                    </tr>
                ))
            }
        </tbody>
    </table>
    <!-- </div> -->
</BaseLayout>
