---
import { getCollection } from "astro:content";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import type { Crumb } from "../../../utils/types";

const allPosts = await getCollection("work");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

const title = "ankt / work / tags";
const current = "work";
const breadcrumbs: Array<Crumb> = [
    { title: "WORK", href: "/work/" },
    { title: `TAG`, href: `/work/tags/` },
];
---

<BaseLayout {title} {current} {breadcrumbs}>
    <div class="flex flex-col space-y-12">
        <h1
            class="text-LM-Text dark:text-DM-Text font-sans text-2xl uppercase tracking-[-0.015rem] font-medium"
        >
            All Tags
        </h1>
        <ul class="font-sans text-lg text-LM-Text dark:text-DM-Text font-medium">
            {
                tags.map((tag) => (
                    <li class="my-1">
                        <a class="hover:text-orange hover:underline hover:underline-offset-4" href={`/work/tags/${tag}/`}> {tag} </a>
                    </li>
                ))
            }
        </ul>
    </div>
</BaseLayout>
