---
import { Image } from "astro:assets";

import { footerLinks } from "../data/footerLinks";

import logo from "../imgs/ankt.svg";

// Supports weights 400-900
import "@fontsource-variable/playfair-display";
---

<!-- Large screens -->
<footer
    class="hidden sm:mt-20 sm:mb-8 sm:flex sm:flex-row sm:justify-between sm:items-center lg:max-w-7xl sm:w-full"
>
    <div class="left flex flex-col space-y-2 justify-center items-start">
        <!-- <Image
            src={logo}
            alt="Aniket Negi's personal Logo"
            width={32}
            height={21}
            loading="eager"
        /> -->

        <span>ankt</span>
        <p>Designed & developed with ❤️ by Aniket Negi.</p>
    </div>

    <div class="right flex flex-row items-center space-x-20">
        <div class="flex flex-col items-center space-y-6 h-full">
            <div class="flex flex-col items-center space-y-1">
                <p>Contact Me</p>
                <!-- <p class="sub">(GPG signature TBD)</p> -->
            </div>

            <ul
                class="flex flex-row justify-between space-x-6 text-LM-Nav-Unselected"
            >
                {
                    footerLinks.contact.map((footerLink) => (
                        <li>
                            <a
                                class="hover:text-LM-Nav-Selected"
                                target="_blank"
                                href={footerLink.href}
                            >
                                {footerLink.name}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </div>
        <!-- h-full in the div below is not working for some reason -->
        <!-- TODO: reomve the hardcoded space-y and make h-full work -->
        <div class="flex flex-col items-center justify-between space-y-6">
            <p>Portfolios</p>

            <ul
                class="flex flex-row justify-between space-x-6 text-LM-Nav-Unselected"
            >
                {
                    footerLinks.portfolio.map((footerLink) => (
                        <li>
                            <a
                                class="hover:text-LM-Nav-Selected"
                                target="_blank"
                                href={footerLink.href}
                            >
                                {footerLink.name}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
</footer>

<!-- Phone Screens -->
<footer
    class="mob-footer sm:hidden mt-12 mb-8 flex flex-col items-center w-full space-y-12"
>
    <ul class="flex flex-row justify-between w-full text-LM-Nav-Unselected">
        {
            footerLinks.contact.map((footerLink) => (
                <li>
                    <a
                        class="hover:text-LM-Nav-Selected"
                        target="_blank"
                        href={footerLink.href}
                    >
                        {footerLink.name}
                    </a>
                </li>
            ))
        }
        {
            footerLinks.portfolio.map((footerLink) => (
                <li>
                    <a
                        class="hover:text-LM-Nav-Selected"
                        target="_blank"
                        href={footerLink.href}
                    >
                        {footerLink.name}
                    </a>
                </li>
            ))
        }
    </ul>

    <div class="mob flex flex-col space-y-3 justify-center items-start w-full">
        <Image
            src={logo}
            alt="Aniket Negi's personal Logo"
            width={32}
            height={21}
            loading="lazy"
        />
        <p>Designed & developed with ❤️ by Aniket Negi.</p>
    </div>
</footer>

<style>
    span {
        color: var(--Light-Mode-LM---Logo, #f48525);
        font-family: "Playfair Display";
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: 133.193%; /* 1.33194rem */
        letter-spacing: -0.03rem;
    }
    .left p {
        color: var(--Light-Mode-LM---Text, #141414);
        font-family: "Cardo";
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 135.292%; /* 1.35294rem */
        letter-spacing: -0.01rem;
    }
    .mob p {
        color: var(--Light-Mode-LM---Text, #141414);
        font-family: "Cardo";
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 135.292%; /* 1.18381rem */
        letter-spacing: -0.00875rem;
    }
    ul li a {
        font-family: "Manrope Variable";
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 129.896%; /* 1.29894rem */
        letter-spacing: -0.02rem;
    }
    .right p {
        color: var(--Light-Mode-LM---Text, #141414);
        font-family: "Manrope Variable";
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 136.491%; /* 1.36494rem */
        letter-spacing: -0.02rem;
    }
    .right p.sub {
        color: var(--Light-Mode-LM---Text-Secondary, #b5b5b5);
        font-family: "Manrope Variable";
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: 136.491%; /* 1.19431rem */
        letter-spacing: -0.0175rem;
    }
</style>
