---
import { Image } from "astro:assets";

import { navLinks } from "../data/navLinks";
import type { Crumb } from "../utils/types";

import Breadcrumbs from "./Breadcrumbs.astro";
import ThemeIcon from "./ThemeIcon.astro";

import logo from "../imgs/ankt.svg";
// import "@fontsource-variable/playfair-display";

interface NavProps {
  current: string;
  breadcrumbs: Crumb[];
}

const { current, breadcrumbs } = Astro.props as NavProps;
---

<nav class="flex w-full flex-col items-start space-y-8 sm:space-y-12">
  <div
    class="flex h-full w-full flex-col items-center justify-between space-y-6 sm:flex-row sm:space-y-0"
  >
    <div class="flex w-full flex-row items-center justify-between sm:w-fit">
      <a href="/">
        <!-- font(playfair display) is too big(40kb) for 4 letters, might optimise in future -->
        <Image
          src={logo}
          alt="Aniket Negi's personal Logo"
          width={73}
          height={48}
          loading="eager"
          class:list={[
            "select-none",
            current === "home"
              ? "drop-shadow-glowlight dark:drop-shadow-glowdark"
              : "",
          ]}
        />
      </a>
      <div class="block sm:hidden">
        <ThemeIcon />
      </div>
    </div>

    <ul
      class="flex h-full w-full flex-row items-center justify-between font-sans text-base font-medium tracking-tight text-LM-Nav-Unselected sm:w-fit sm:justify-normal sm:space-x-6 dark:text-DM-Nav-Unselected"
    >
      {
        navLinks.map((navLink) => (
          <li>
            <a
              class:list={[
                navLink.name === current
                  ? "text-LM-Nav-Selected dark:text-DM-Nav-Selected"
                  : "",
                "hover:text-LM-Nav-Selected dark:hover:text-DM-Nav-Selected",
              ]}
              aria-label={navLink.name}
              href={navLink.href}
            >
              {navLink.name}
            </a>
          </li>
        ))
      }
    </ul>
    <div class="hidden sm:block">
      <ThemeIcon />
    </div>
  </div>
  <Breadcrumbs {breadcrumbs} />
</nav>

<!-- <style>
    span.logo {
        font-family: "Playfair Display";
        font-size: 2.25rem;
        font-style: normal;
        font-weight: 800;
        line-height: 133.193%; /* 2.99688rem */
        letter-spacing: -0.0675rem;
    }
</style> -->
