---
import { Image } from "astro:assets";

import { navLinks } from "../data/navLinks";

import Breadcrumbs from "./Breadcrumbs.astro";
// import NavMoreButton from "./NavMoreButton";

import logo from "../imgs/ankt.svg";
import { Icon } from "astro-icon/components";
import MobileNavLinks from "./MobileNavLinks.astro";

import type { Crumb } from "../utils/types";

interface NavProps {
    current: string;
    breadcrumbs: Crumb[];
}

const { current, breadcrumbs } = Astro.props as NavProps;
---

<!-- Desktop Screens -->
<nav class="hidden sm:flex sm:flex-col sm:items-start sm:space-y-12">
    <div class="flex flex-row justify-between items-center w-full">
        <button class="hidden sm:block">
            <Image
                src={logo}
                alt="Aniket Negi's personal Logo"
                width={73}
                height={48}
                loading="eager"
            />
        </button>

        <ul
            class="flex flex-row justify-between space-x-6 text-LM-Nav-Unselected"
        >
            {
                navLinks.map((navLink) => (
                    <li>
                        <a
                            class:list={[
                                navLink.name === current
                                    ? "text-LM-Nav-Selected"
                                    : "",
                                "hover:text-LM-Nav-Selected",
                            ]}
                            href={navLink.href}
                        >
                            {navLink.name}
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
    <Breadcrumbs {breadcrumbs} />
</nav>

<!-- Phone Screens -->
<nav class="mob-nav-compact sm:hidden flex flex-col items-start space-y-8">
    <div class="flex flex-row justify-between items-center w-full">
        <a href="/">
            <Image
                src={logo}
                alt="Aniket Negi's personal Logo"
                width={49}
                height={32}
                loading="eager"
            />
        </a>

        <ul class="flex flex-row items-center space-x-4 text-LM-Nav-Unselected">
            <li>
                <a class="hover:text-LM-Nav-Selected" href="/blog/">blog</a>
            </li>
            <li>
                <a class="hover:text-LM-Nav-Selected" href="/garden/">garden</a>
            </li>
            <li>
                <a class="hover:text-LM-Nav-Selected" href="/lit/">lit</a>
            </li>
            <!-- <NavMoreButton client:visible /> -->

            <li>
                <!-- vanilla JS tuto https://www.freecodecamp.org/news/how-to-build-a-responsive-navbar-with-a-toggle-menu-using-flexbox-3438e1d08783/ -->
                <button
                    class="flex flex-row justify-between items-center space-x-0.5 text-LM-Nav-Unselected hover:text-LM-Nav-Selected"
                    id="mob-nav-expand"
                    ><span>more</span>
                    <div class="h-full w-full flex items-center">
                        <Icon name="chevronDown" size={15} />
                    </div>
                </button>
            </li>
        </ul>
    </div>
    <Breadcrumbs {breadcrumbs} />
</nav>

<!-- phone screen expanded -->
<nav class="mob-nav-expanded hidden sm:hidden">
    <MobileNavLinks current={current} />
</nav>

<script>
    // hide everything except for the new nav compoenent on clicking more
    document.getElementById("mob-nav-expand")?.addEventListener("click", () => {
        document.querySelector("main")?.classList.toggle("hidden");
        document.querySelector(".mob-footer")?.classList.toggle("hidden");
        document.querySelector(".mob-nav-compact")?.classList.toggle("hidden");
        document.querySelector(".mob-nav-expanded")?.classList.toggle("hidden");
        document.querySelector("header")?.classList.toggle("my-4"); // leads to mob-nav-expanded being lareger than 100vh
    });
</script>

<style>
    li a {
        font-family: "Manrope Variable", sans-serif;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.02rem;
    }
    button {
        font-family: "Manrope Variable";
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.02rem;
    }
</style>
