---
import { Icon } from "astro-icon/components";

import type { CollectionEntry } from "astro:content";

interface Props {
    blogPost: CollectionEntry<"blog">;
}

const { blogPost } = Astro.props as Props;

const { title, tags, description, author, pubDate } = blogPost.data;

const url = `/blog/${blogPost.slug}/`;

const dotw = pubDate.toLocaleDateString("default", { weekday: "short" }); // Day of The Week
const date = `${pubDate.getDate() < 10 ? "0" : ""}${pubDate.getDate().toString().slice(-2)}`;
const month = pubDate.toLocaleString("default", { month: "short" });
const year = pubDate.getFullYear();
---

<div class="flex flex-col items-start">
    <div
        class="flex flex-col space-y-2 sm:space-y-0 sm:flex-row sm:space-x-8 mb-1 items-start sm:items-center"
    >
        <h3
            class="font-sans text-xl font-medium text-LM-Text dark:text-DM-Text hover:text-orange hover:underline hover:underline-offset-4 uppercase tracking-[-.02rem] underline underline-offset-4 lg:no-underline"
        >
            <a href={url}>{title}</a>
        </h3>
        <ul
            class="flex flex-row flex-wrap space-x-0.5 font-sans text-sm tracking[-0.0175rem] pb-1 text-LM-Nav-Unselected dark:text-DM-Nav-Unselected"
        >
            {
                tags.map((tag, idx) => (
                    <>
                        <li>
                            <a
                                class="hover:text-LM-Nav-Selected dark:hover:text-DM-Nav-Selected"
                                href={`/blog/tags/${tag}/`}
                            >
                                {tag}
                            </a>
                        </li>

                        {idx < tags.length - 1 && (
                            <Icon
                                name="dot"
                                size={20}
                                class="text-LM-Nav-Selected dark:text-DM-Nav-Selected"
                            />
                        )}
                    </>
                ))
            }
        </ul>
    </div>
    <p
        class="mt-1 mb-2 font-serif text-base text-LM-Text w-full dark:text-DM-Text"
    >
        {description.toString()}
    </p>
    <div class="mt-2 flex flex-row items-center">
        <!-- TODO@ankt: Author Content Collection -->
        <!-- <a
            class="font-sans text-sm tracking-[-0.02rem] font-medium text-LM-Nav-Unselected dark:text-DM-Nav-Unselected hover:text-LM-Nav-Selected dark:hover:text-DM-Nav-Selected"
            href="#">{author}</a
        > -->
        <p
            class="font-sans text-sm tracking-[-0.02rem] font-medium text-orange"
        >
            {author}
        </p>
        <Icon
            name="dot"
            size={20}
            class="text-LM-Nav-Selected dark:text-DM-Nav-Selected"
        />
        <span
            class="font-sans text-sm tracking-[-0.02rem] font-medium text-LM-Text dark:text-DM-Text"
            >{`${dotw}, ${date} ${month} ${year}`}</span
        >
    </div>
</div>
