---
import { Icon } from "astro-icon/components";
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";

interface Props {
  entry: CollectionEntry<"journal">;
}

const { entry } = Astro.props as Props;

const pubDate = entry.data.pubDate;

const dotw = pubDate.toLocaleDateString("default", { weekday: "short" }); // Day of The Week
const date = `${pubDate.getDate() < 10 ? "0" : ""}${pubDate.getDate().toString().slice(-2)}`;
const month = pubDate.toLocaleString("default", { month: "long" });
const year = pubDate.getFullYear();

const { Content } = await render(entry);
---

<div
  class:list={[
    "prose dark:prose-invert",
    "prose-headings:font-sans prose-headings:font-medium prose-headings:uppercase prose-headings:tracking-[-0.01rem]",
    "prose-a:text-LM-Text prose-a:dark:text-DM-Text",
    "prose-p:font-serif",
    "prose-table:font-serif",
    "prose-ol:font-serif prose-ul:font-serif",
    "prose-blockquote:not-italic",
    "max-w-none",
    "w-full",
    "flex flex-col space-y-4",
  ]}
>
  <div class="flex flex-row items-center space-x-2">
    <h2 class="m-0 text-orange">
      {entry.data.title}
    </h2>
    <Icon name="dot" size={18} />
    <span class="m-0 font-sans">
      {`${dotw}, ${date} ${month} ${year}`}
    </span>
  </div>
  <div>
    <Content />
  </div>

  <hr
    class="w-full border-[1px] border-LM-Secondary transition dark:border-DM-Secondary"
  />
</div>
