---
import BaseLayout from "../BaseLayout.astro";

import type { Crumb } from "../../utils/types";

import type { CollectionEntry } from "astro:content";

interface Props {
  frontmatter: CollectionEntry<"lit">;
}

const { frontmatter } = Astro.props as Props;

const id = frontmatter.id;

const { title, author } = frontmatter.data;

const pageTitle = `lit / ${title}`;
const current = "lit";
const breadcrumbs: Array<Crumb> = [
  { title: "LITERATURE", href: "/lit/" },
  { title: title, href: `/lit/prose/${id}/` },
];
---

<BaseLayout title={pageTitle} {current} {breadcrumbs}>
  <div class="flex w-full flex-col items-start sm:items-center">
    <div
      class="flex w-full max-w-4xl flex-col items-start space-y-12 sm:w-max sm:items-center"
    >
      <div class="flex w-full flex-col items-start space-y-2">
        <h1
          class="w-full font-sans text-4xl font-normal uppercase tracking-[-0.02rem] text-LM-Text dark:text-DM-Text"
        >
          {title}
        </h1>
        <p
          class="font-sans text-base font-medium tracking-[-0.01rem] text-LM-Text dark:text-DM-Text"
        >
          ⏤ {author}
        </p>
      </div>
      <div
        class="prose max-w-none text-LM-Text prose-headings:font-sans prose-headings:font-normal
            prose-headings:tracking-[-0.03rem] prose-headings:text-LM-Text
            prose-p:font-serif prose-p:text-base dark:text-DM-Text
            dark:prose-headings:text-DM-Text"
      >
        <slot />
      </div>
    </div>
  </div>
</BaseLayout>
